{{!--
Partials: Liste Commentaire
--}}

<div class="container">
    <div class='row'>
        <ul class="list-unstyled">
            {{!-- Liste commentaire --}}
            {{#each presentationID.comment }}
            <li class="media pl-2 rounded-left border-left border-bottom border-dark">
                <img style="width: 36px;" src="/assets/image/user_profile.png" class="mr-3" alt="...">
                <div class="media-body row">
                    <div class="col-md-10">
                        <h5 class="mt-0 mb-1">{{ author }}</h5>
                        <p> {{ content }} </p>
                    </div>
                    <div class="col-md-2">
                        {{#ifCond ../userId authorID }}
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#modalDeleteComment{{../_id}}">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        {{/ifCond }}
                    </div>
                </div>
            </li>
            {{!--Import modalDeleteComment--}}
            {{> modals/modalDeleteComment }}
            {{/each }}

        </ul>
    </div>
</div>

{{!-- Ajouter un nouveau commentaire --}}
{{#if user }}

<div class="container">
    <div class="row">
        {{!-- Formulaire Ajouter un commentaire --}}
        <form class="row" action="/commentaire/{{presentationID._id}}" method="post">

            <!-- Input Message -->
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Vous écrivez un commentaire en tant que
                        <u> <strong> {{ user.name }} </strong> </u>

                    </label>
                    <textarea class="form-control" id="message-text" name="content" placeholder="Message"></textarea>
                </div>
            </div>

            <!-- Boutton -->
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary m-2">Envoyer</button>
            </div>
        </form>
    </div>
</div>

{{/if }}
