{{!--
Partial headerID
--}}

<section class="container" style="margin-top:15vh">
    <div class="text-center" >
        <img src="{{ presentationID.imgPresentation }}" style="height : 80%" class=" card-img-top " alt="... ">
        <figcaption><strong> <h2> {{ presentationID.title }} </h2> </strong></figcaption>

        </img>
        <div class="card-body">
            <h5>{{ presentationID.description }}</h5>
            <p class="card-text ">{{{ presentationID.content }}}</p>
            <p>{{moment createDate lang="fr" format="dddd, DD MMMM YYYY HH:mm:ss"}}</p>
        </div>
    </div>
</section>