{{!--
Modale Edit Utilisateur
--}}

<!-- Modal Edit -->
<div class="modal fade" id="modalEditUser{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>nom: {{ name }} </p>
                <p>email: {{ email }} </p>
                <form action="/user/{{ _id }}/?_method=PUT" method="post">
                    <label for="">Admin</label>
                    <input type="checkbox" id='isAdmin' name='isAdmin'>
                    <label for="">Verified</label>
                    <input type="checkbox" id='isVerified' name='isVerified'>
                    <label for="">Ban</label>
                    <input type="checkbox" id='isBan' name='isBan'>
                    <button type="submit">Editer {{ name }} </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Verif checked Admin
    const isAdmin = {{ isAdmin }}
    const checkedAdmin = document.getElementById('isAdmin')
    checkedAdmin.checked = isAdmin
    // Verif checked Ban
    const isVerified = {{ isVerified }}
    const checkedVerified = document.getElementById('isVerified')
    checkedVerified.checked = isVerified
    // Verif checked Verified
    const isBan = {{ isBan }}
    const checkedBan = document.getElementById('isBan')
    checkedBan.checked = isBan

</script>

<!-- / Modal Edit -->