{{!--
Modale Edit Utilisateur
--}}

<!-- Modal Edit -->
<div class="modal fade" id="modalEditUser{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>nom: {{ name }} </p>
                <p>email: {{ email }} </p>
                <form action="/user/{{ _id }}/?_method=PUT" method="post">
                    <label for="">Admin</label>
                    <input type="checkbox" id='isAdmin{{_id}}' name='isAdmin'>
                    <label for="">Verified</label>
                    <input type="checkbox" id='isVerified{{_id}}' name='isVerified'>
                    <label for="">Ban</label>
                    <input type="checkbox" id='isBan{{_id}}' name='isBan'>
                    <button type="submit">Editer {{ name }} </button>
                </form>
            </div>
           
        </div>
    </div>
</div>

<script>
    
    // Verif checked Admin
    const isAdmin{{_id}} = {{ isAdmin }}
    const checkedAdmin{{_id}} = document.getElementById('isAdmin{{_id}}')
    checkedAdmin{{_id}}.checked = isAdmin{{_id}}

    // Verif checked Ban
    const isVerified{{_id}} = {{ isVerified }}
    const checkedVerified{{_id}} = document.getElementById('isVerified{{_id}}')
    checkedVerified{{_id}}.checked = isVerified{{_id}}

    // Verif checked Verified
    const isBan{{_id}} = {{ isBan }}
    const checkedBan{{_id}} = document.getElementById('isBan{{_id}}')
    checkedBan{{_id}}.checked = isBan{{_id}}

</script>

<!-- / Modal Edit -->