{{!--
:partial
Collapse Utilisateur Admin
--}}

<!-- collaps utilisateur -->
<div class="card" style="margin-top: 2em;">
    <div id="user" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card">
            <!--button create-->
            <button type="button" class="btn btn-warning btn-sm" style="background-color: #777; border-color :#000"
                data-toggle="modal" data-target="#modalEditUtilisateur">
                <i class="fas fa-plus"></i>
            </button>
            <!-- / button create-->

            <table class="table">
                <!-- table presentation -->
                <!-- head de mon tableau -->
                <thead>
                    <tr>
                        <td scope="col">index</td>
                        <td scope="col">image</td>
                        <td scope="col">name</td>
                        <td scope="col">email</td>
                        <td scope="col">description</td>
                        <td scope="col">actions</td>
                    </tr>
                </thead>
                <!-- body tableau -->
                <tbody>
                    <!-- item n°1 tableau -->
                    {{#each dbUtilisateur }}
                    <tr>
                        <td> {{ inc @index }} </td>
                        <th scope="col">
                            <img style="height: 35px;" src="/assets/image/html.png" alt=" ">
                        </th>
                        <td> {{ name }} </td>
                        <td> {{ email }} </td>
                        <td> {{ isAdmin }} </td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                data-target="#modalEditUser{{_id}}">
                                <i class="far fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#modalDeleteUser{{_id}}">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>

                    {{!-- Import partial modal edit presentation --}}
                    {{> modals/modalEditUtilisateur }}

                    {{!-- Import partial modal delete presentation --}}
                    {{> modals/modalDeleteUtilisateur }}

                    {{/each }}


                </tbody>
            </table>
        </div>
    </div>
</div>